/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// enlaces 
@import "utilidades/variables";
@import "html/index";
@import "html/galeria";
@import "html/historia";
@import "html/discografia";
@import "html/merch";

body{
    background-color: $color-principal;
}
/*menu*/
header{
    h1{
        font-size: 150px;
        text-shadow: 1px 1px 2px black;
        background-color: $color-secundario;
        color: black;
    }
    h2{
        background-color: $color-secundario;
        display: flex;
        justify-content: center;
        text-shadow: 2px 3px 5px black;
        margin: 0px;
        padding: 20px;
    }
    nav{
        div{
            div{
                display: flex;
                justify-content: space-evenly;
                gap: 100px;
                color: black;
                ul{
                    li{
                        text-decoration: none;
                        color: black;
                        background-color: $color-secundario;
                        margin: 5px;
                        padding: 5px 50px;
                        border-radius: 100px;
                        box-shadow: 2px 3px 5px black;
                        font-size: 18px;
                        &:hover{
                            font-weight: bold;
                            transform: scale(0.9);
                            box-shadow: 1px 1px 2px black;
                        }
                    }
                }
            }
        }
    }
}
/*footer*/
footer{
    background-color: rgb(238, 144, 36);
    display: flex;
    justify-content: center;
    bottom: 0;
}

@media screen and (max-width:768px){

    /* MQ HOME */

    .video{
        display: none;
    }

    /* MQ GALERIA */

    main.main-galery{
        div.ysyGalery{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            img.ysy-galery{
                height: 200px;
                width: 300px;
            }
        }
    }

    /* MQ HISTORIA */

    .historias{
        font-size: 1rem;
        align-items: center;
        justify-content: center;
    }

    /* MQ DISCOGRAFIA */

    main.main-disc{
        display: grid;
        grid-template-columns: 13rem 13rem;
        grid-template-rows: 4rem 33rem;

        grid-template-areas: 
            "nombre-ant nombre-ant"
            "disco-ant disco-ant"
            "nombre-ham nombre-ham"
            "disco-ham disco-ham"
            "nombre-meb nombre-meb"
            "disco-meb disco-meb"
            "nombre-tdv nombre-tdv"
            "disco-tdv disco-tdv";

            h2.antezana{
                background-color: black;
                color: whitesmoke;
                grid-area: nombre-ant;
            }
            div.album-uno{
                display: flex;
                justify-content: center;
                grid-area: disco-ant;
            }
            img.img-ant{
                height: 500px;
            }
            h2.ham{
                background-color: black;
                color: whitesmoke;
                grid-area: nombre-ham;
            }
            img.img-ham{
                height: 500px;
            }
            div.album-dos{
                display: flex;
                justify-content: center;
                grid-area: disco-ham;
            }
            h2.meb{
                background-color: black;
                color: whitesmoke;
                grid-area: nombre-meb;
            }
            img.img-meb{
                height: 500px;
            }
            div.album-tres{
                display: flex;
                justify-content: center;
                grid-area: disco-meb;
            }
            h2.tdv{
                background-color: black;
                color: whitesmoke;
                grid-area: nombre-tdv;
            }
            img.img-tdv{
                height: 500px;
            }
            div.album-cuatro{
                display: flex;
                justify-content: center;
                grid-area: disco-tdv;
            }
    }

    section{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    

    /* MQ MERCH */

    main.main-merch{
        div.portadaMerch{
            display: none;
        }
        section.contain{
            div.promo{
                img.producto-uno{
                    height: 600px;
                    width: 400px;
                }
            }
            div.promo-dos{
                img.producto-dos{
                    height: 600px;
                    width: 400px;
                }
            }
            div.promo-tres{
                img.producto-uno{
                    height: 600px;
                    width: 400px;
                }
            }
        }
    }

    /* MQ FOOTER */

    footer{
        display: none;
    }
}

@media screen and (max-width:480px){

    /* MQ HOME */
    main.index{
        div.epigrafeHome{
            h3{
                display: none;
            }
        }
    }
    section.videoResumen{
        div.textoResumen{
            h4{
                display: flex;
                justify-content: center;
            }
        }
    }

    /* MQ MERCH */

    main.main-merch{
        div.portadaMerch{
            display: none;
        }
        section.contain{
            div.promo{
                img.producto-uno{
                    height: 400px;
                    width: 300px;
                }
            }
            div.promo-dos{
                img.producto-dos{
                    height: 400px;
                    width: 300px;
                }
            }
            div.promo-tres{
                img.producto-uno{
                    height: 400px;
                    width: 300px;
                }
            }
        }
    }

    /* MQ MERCH */

    .producto-uno, .producto-dos{
        height: 100px;
        width: 30px;
    }

    .promo{
        display: flex;
        align-items: center;
    }

    .promo-dos, .promo-tres{
        display: flex;
        align-items: center;
        flex-flow: column;
    }

    /* MQ FOOTER */
    
    footer{
        display: none;
    }
}